* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  --primary-color: #0b72b5;
  --secondary-color: #ebf5ff;
  --text-primary: #27272a;
  --text-secondary: #0b72b5;
  --text-onmain: #fafafa;
  --header-height: 71px;
  --content-padding: 32px;
}
header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--secondary-color);
  border-bottom: var(--primary-color) 3px solid;
  z-index: 100;
}
.header-logo {
  padding: 0px 0px 0px 40px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1360px;
  width: 100%;
}
.header-navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 8px 40px;
}
.header-search {
  display: flex;
  align-items: stretch;
  gap: 8px;
}
input[type="text"] {
  border: 2px solid var(--primary-color);
  border-radius: 999px;
  padding: 8px 12px;
  font-size: 14px;
  color: var(--text-primary);
  outline: none;
}
.btn-search {
  background-color: var(--primary-color);
  /* border: var(--text-primary) 2px solid; */
  border: none;
  border-radius: 999px;
  cursor: pointer;
  min-width: 40px;
  color: var(--text-onmain);
  aspect-ratio: 1 / 1;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 28px;
}
a {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: var(--text-primary);
}
.btn-playnow {
  color: var(--text-onmain);
  background: linear-gradient(0deg, #198ddb, #00d2ff);
  border: #cd9777 3px solid;
  padding: 8px 12px;
  border-radius: 999px;
  box-shadow: 0 4px 0px rgba(119, 73, 54, 1);
}
.divider {
  width: 2px;
  align-self: stretch;
  background-color: var(--text-primary);
}
.navbar-links {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  gap: 28px;
}
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
.navbar-actions button {
  display: flex;
  border: 2px solid var(--text-primary);
  border-radius: 999px;
  background-color: var(--text-onmain);
  cursor: pointer;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.navbar-actions button img {
  width: 24px;
  height: 24px;
}
aside {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.homepage-wrapper {
  background: url(./img/back-main.webp);
  min-height: calc(100vh - var(--header-height) - var(--content-padding) * 2);
}
.homepage-layout {
  display: flex;
  align-items: stretch;
  max-width: 1360px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 32px;
  gap: 24px;
}
.homepage-filter {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  width: 285px;
  flex-shrink: 0;
  position: sticky;
  top: 95px;
  align-self: flex-start;
  height: calc(100vh - var(--header-height) - var(--content-padding) * 2);
  padding: 24px 20px;
  overflow-y: auto;
}
.filter-layout {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 12px;
}
.filter-title h2 {
  letter-spacing: 1px;
}
.filter-title p {
  font-size: 12px;
  font-weight: 700;
}
.filter-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.filter-content > p {
  display: flex;
  justify-content: flex-end;
}
.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.filter-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  text-align: left;
}
.filter-toggle > span {
  display: flex;
  align-items: center;
  letter-spacing: 1.2px;
  font-size: 18px;
  gap: 4px;
}
.option-divider {
  height: 2px;
  background-color: var(--text-primary);
  width: 100%;
}
.option-content-gap {
  gap: 8px;
}
.option {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  gap: 12px;
  border-radius: 12px;
}
h3 {
  display: flex;
  gap: 4px;
  letter-spacing: 1px;
}
.people-content {
  display: flex;
  flex-direction: column;
}
.option-item {
  display: flex;
  gap: 8px;
  letter-spacing: 1.2px;
  font-size: 14px;
  cursor: pointer;
}
.radio-box {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-primary);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.radio-box:checked {
  background-color: var(--primary-color);
}
.radio-box:checked::after {
  content: "v";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}
.filter-layout::-webkit-scrollbar {
  width: 4px;
}

.filter-layout::-webkit-scrollbar-thumb {
  background-color: rgba(173, 172, 172, 0.6);
  border-radius: 3px;
}

.filter-layout::-webkit-scrollbar-track {
  background: transparent;
}
.tag-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.tag-item input[type="checkbox"] {
  display: none;
}
.tag-item span {
  display: inline-block;
  padding: 0px 12px;
  letter-spacing: 1px;
  font-size: 14px;
  border-radius: 999px;
  background-color: rgba(185, 185, 185, 0.6);
  /* border: 2px solid var(--text-primary); */
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}
.tag-item input:checked + span {
  background-color: var(--primary-color);
  color: var(--text-onmain);
  /* border: var(--text-primary) 2px solid; */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
.homepage-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  gap: 32px;
}
.featured-banner img {
  width: 100%;
  border-radius: 12px;
}
.featured-banner {
  position: relative;
}
.featured-tag {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: #f7c948;
  padding: 4px 16px;
  border-radius: 999px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}
.recommended > img {
  border-radius: 12px;
}
.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.recommended {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.recommended-cards {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}
.recommended-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.recommended-side-bottom {
  display: flex;
  gap: 16px;
  flex: 1;
}

.recommended-side-bottom .game-card {
  flex: 1;
}

.game-card {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  margin: 0;
  white-space: nowrap; /* 1. 強制不換行 */
  overflow: hidden; /* 2. 超出範圍的部分隱藏 */
  text-overflow: ellipsis;
  right: 16px;
}
.game-card--large {
  height: 100%;
}
.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.section-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon-fire {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}

.section-link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: var(--text-secondary);
  text-decoration: none;
}

.icon-arrow {
  width: 16px;
  height: 16px;
}
.popular-cards,
.new-cards {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  min-width: 0;
}

.popular-cards .game-card {
  flex: 0 0 320px;
  aspect-ratio: 320 / 200;
  scroll-snap-align: start;
}
.new-cards .game-card {
  flex: 0 0 220px;
  aspect-ratio: 220 / 140;
  scroll-snap-align: start;
}
.homepage-function {
  position: sticky;
  top: 95px;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 0 0 56px;
}
.homepage-function button {
  width: 48px;
  height: 48px;
  /* border: none; */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.function-btn--inline {
  background-color: #bbc93b;
  border: #949f30 3px solid;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
}
.function-btn--heart {
  background-color: #4fc3f7;
  border: #3da6d6 3px solid;
  box-shadow: 0px 4px 1px rgba(0, 0, 0, 0.5);
}
